/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import { PartnerstackApi } from "@fern-api/partnerstack";
import urlJoin from "url-join";
import * as serializers from "../../../../serialization";
import * as errors from "../../../../errors";

export declare namespace Client {
    interface Options {
        environment?: environments.PartnerstackApiEnvironment | string;
        credentials?: core.Supplier<core.BasicAuth>;
    }
}

export class Client {
    constructor(private readonly options: Client.Options) {}

    /**
     * Returns a list of your actions. The actions are returned sorted by creation date by default, with the most recent actions appearing first.
     */
    public async listAllActions(
        request?: PartnerstackApi.ListAllActionsRequest
    ): Promise<PartnerstackApi.ListAllActionsResponse> {
        const _queryParams = new URLSearchParams();
        if (request?.minCreated != null) {
            _queryParams.append("min_created", request?.minCreated.toString());
        }

        if (request?.maxCreated != null) {
            _queryParams.append("max_created", request?.maxCreated.toString());
        }

        if (request?.minUpdated != null) {
            _queryParams.append("min_updated", request?.minUpdated.toString());
        }

        if (request?.maxUpdated != null) {
            _queryParams.append("max_updated", request?.maxUpdated.toString());
        }

        if (request?.partnershipKey != null) {
            _queryParams.append("partnership_key", request?.partnershipKey);
        }

        if (request?.actionType != null) {
            _queryParams.append("action_type", request?.actionType);
        }

        if (request?.orderBy != null) {
            _queryParams.append("order_by", request?.orderBy);
        }

        if (request?.limit != null) {
            _queryParams.append("limit", request?.limit.toString());
        }

        if (request?.startingAfter != null) {
            _queryParams.append("starting_after", request?.startingAfter);
        }

        if (request?.endingBefore != null) {
            _queryParams.append("ending_before", request?.endingBefore);
        }

        const _response = await core.fetcher({
            url: urlJoin(this.options.environment ?? environments.PartnerstackApiEnvironment.Production, "/v2/actions"),
            method: "GET",
            headers: {
                Authorization: core.BasicAuth.toAuthorizationHeader(await core.Supplier.get(this.options.credentials)),
            },
            queryParameters: _queryParams,
        });
        if (_response.ok) {
            return await serializers.ListAllActionsResponse.parse(
                _response.body as serializers.ListAllActionsResponse.Raw
            );
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PartnerstackApiError({
                statusCode: _response.error.statusCode,
                responseBody: _response.error.rawBody,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.PartnerstackApiError({
                    statusCode: _response.error.statusCode,
                    responseBody: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.PartnerstackApiTimeoutError();
            case "unknown":
                throw new errors.PartnerstackApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Records a new action taken by a given partner or customer, and the number of times that action was performed.
     */
    public async record(request?: PartnerstackApi.RecordActionRequest): Promise<PartnerstackApi.RecordActionResponse> {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment ?? environments.PartnerstackApiEnvironment.Production, "/v2/actions"),
            method: "POST",
            headers: {
                Authorization: core.BasicAuth.toAuthorizationHeader(await core.Supplier.get(this.options.credentials)),
            },
            body: await serializers.RecordActionRequest.json({
                externalKey: request?.externalKey,
                targetKey: request?.targetKey,
                targetType: request?.targetType,
                type: request?.type,
                value: request?.value,
            }),
        });
        if (_response.ok) {
            return await serializers.RecordActionResponse.parse(_response.body as serializers.RecordActionResponse.Raw);
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PartnerstackApiError({
                statusCode: _response.error.statusCode,
                responseBody: _response.error.rawBody,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.PartnerstackApiError({
                    statusCode: _response.error.statusCode,
                    responseBody: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.PartnerstackApiTimeoutError();
            case "unknown":
                throw new errors.PartnerstackApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Archives an action. Any associated rewards or drip rewards will be archived as well.
     */
    public async archive(actionKey: string): Promise<PartnerstackApi.ArchiveActionResponse> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.PartnerstackApiEnvironment.Production,
                `/v2/actions/${actionKey}`
            ),
            method: "DELETE",
            headers: {
                Authorization: core.BasicAuth.toAuthorizationHeader(await core.Supplier.get(this.options.credentials)),
            },
        });
        if (_response.ok) {
            return await serializers.ArchiveActionResponse.parse(
                _response.body as serializers.ArchiveActionResponse.Raw
            );
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PartnerstackApiError({
                statusCode: _response.error.statusCode,
                responseBody: _response.error.rawBody,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.PartnerstackApiError({
                    statusCode: _response.error.statusCode,
                    responseBody: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.PartnerstackApiTimeoutError();
            case "unknown":
                throw new errors.PartnerstackApiError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
